* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: #e13156;
}

body {
    background-color: #050505;
}

h1 {
    font-size: 36px;
    font-weight: 600;
    color: aliceblue;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color: #fff;
}

a {
    cursor: pointer;
    text-decoration: underline;
}

.crest {
    min-height: 3vh;
    width: 100%;
    display: flex;
    
    background-color: #10071a;
    border-radius: 0px 0px 5px 5px;
    border-width: 1px;
    border-color: #fff;
    border-bottom-style: solid;
    border-top-style: solid;
    position: absolute;
    overflow: hidden;
    justify-content: center;

}

.socialicon1 {
    min-height: 5%;
    width: 8%;
    margin-left: 3%;
    display: flex;
    
    background-color: #1b0a19;
    border-radius: 0px 0px 5px 5px;
    border-width: 1px;
    border-color: #fff;
    border-style: solid;

    position: absolute;
    overflow: hidden;
    justify-content: center;
}
.socialicon2 {
    min-height: 5%;
    width: 8%;
    margin-left: 13%;
    display: flex;
    
    background-color: #1b0a19;
    border-radius: 0px 0px 5px 5px;
    border-width: 1px;
    border-color: #fff;
    border-style: solid;

    position: absolute;
    overflow: hidden;
    justify-content: center;
}

.socialicon3 {
    min-height: 5%;
    width: 8%;
    margin-left: 79%;
    display: flex;
    
    background-color: #1b0a19;
    border-radius: 0px 0px 5px 5px;
    border-width: 1px;
    border-color: #fff;
    border-style: solid;

    position: absolute;
    overflow: hidden;
    justify-content: center;
}
.socialicon4 {
    min-height: 5%;
    width: 8%;
    margin-left: 89%;
    display: flex;
    
    background-color: #1b0a19;
    border-radius: 0px 0px 5px 5px;
    border-width: 1px;
    border-color: #fff;
    border-style: solid;

    position: absolute;
    overflow: hidden;
    justify-content: center;
}

.socialicon1:hover * {
    color: #ffffff;
    transition: background 0.2s ease;
    cursor: pointer;
}

.socialicon1:hover {
    background: #525eeb;
    transition: background 0.2s ease;
}

.socialicon1:hover img {
    filter: brightness(10);
    transition: filter 0.2s ease;
}

.socialicon2:hover * {
    color: #ffffff;
    transition: background 0.2s ease;
    cursor: pointer;
}

.socialicon2:hover {
    background: #fc0000;
    transition: background 0.2s ease;
}

.socialicon2:hover img {
    filter: brightness(10);
    transition: filter 0.2s ease;
}

.socialicon3:hover * {
    color: #ffffff;
    transition: background 0.2s ease;
    cursor: pointer;
}

.socialicon3:hover {
    background: #fe7703;
    transition: background 0.2s ease;
}

.socialicon3:hover img {
    filter: brightness(10);
    transition: filter 0.2s ease;
}

.socialicon4:hover * {
    color: #ffffff;
    transition: background 0.2s ease;
    cursor: pointer;
}

.socialicon4:hover {
    background: #1cca5a;
    transition: background 0.2s ease;
}

.socialicon4:hover img {
    filter: brightness(10);
    transition: filter 0.2s ease;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.nav {
    min-height: 10vh;
    width: 50vh;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    
    background-color: #1b0a19;
    border-radius: 0px 0px 5px 5px;
    border-width: 1px;
    border-color: #fff;
    border-style: solid;

    position: relative;
    overflow: hidden;
    justify-content: center;
}


.bigredbutton {
    border: 1px solid #e13156;
    background: transparent;
    color: #e13156;
}

.bigbutton {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
    transition: 1s;
}

.bigbutton:hover * {
    color: #ffffff;
    transition: background 0.2s ease;
    cursor: pointer;
}

.bigbutton:hover {
    background: #e13156;
    transition: background 0.2s ease;
}

.stonebutton {

    min-height: 1vh;

    margin-bottom: 10px;
    padding: 0 20px;

    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 10px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
    transition: 1s;
    min-width: 90%;
    max-width: 100%;
}

.stonebutton:hover * {
    color: #ffffff;
    transition: background 0.2s ease;
    cursor: pointer;
}

.stonebutton:hover {
    background: #e13156;
    transition: background 0.2s ease;
}

.stonebuttonlockout:hover {
    background-color: #e13156;
    transition: background 0.2s ease;
}

.shake {
    animation: shake 0.5s ease-in-out infinite;
}

@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
        transform: translateX(-5px);
    }
    20%, 40%, 60%, 80% {
        transform: translateX(5px);
    }
}

.pagebutton {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
    transition: 1s;
    max-width: 100%;
}

.pagebutton:hover * {
    color: #ffffff;
    transition: background 0.2s ease;
    cursor: pointer;
}

.pagebutton:hover {
    background: #e13156;
    transition: background 0.2s ease;
}

.sellbutton {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid;
    border-radius: 5px 5px 5px 5px;
    padding: 2px 10px;
    font-size: 13px;
    background: #1b0a19;
    position: relative;
    cursor: pointer;
    transition: 1s;
    margin-right: 10px;
    width: 50px;
}

.shopbutton {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid;
    border-radius: 5px 5px 5px 5px;
    padding: 34px 34px;
    font-size: 13px;
    background: #1b0a19;
    position: relative;
    cursor: pointer;
    transition: 1s;
    margin-right: 10px;
    width: 5%;
}

.shopbutton:hover * {
    color: #ffffff;
    transition: background 0.2s ease;
    cursor: pointer;
}

.shopbutton:hover {
    background: #ff3eb5;
    transition: background 0.2s ease;
}

.boostbutton {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid;
    border-radius: 5px 5px 5px 5px;
    padding: 34px 34px;
    font-size: 13px;
    background: #1b0a19;
    position: relative;
    cursor: pointer;
    transition: 1s;
    margin-right: 10px;
    width: 5%;
    
}

.boostbutton:hover * {
    color: #ffffff;
    transition: background 0.2s ease;
    cursor: pointer;
}

.boostbutton:hover {
    background: #ff3eb5;
    transition: background 0.2s ease;
}

.navbutton {
    min-height: 10vh;
    max-height: 10vh;
    min-width: 10vh;
    max-width: 10vh;
    background-color: #1b0a19;
    transition: background 0.2s ease;
    border: none;
    color: black;
}


.navbutton:hover * {
    color: #ffffff;
    transition: background 0.2s ease;
    cursor: pointer;
}

.navbutton:hover {
    background: #e13156;
    transition: background 0.2s ease;
}

.navbutton:hover img {
    filter: brightness(10);
    transition: filter 0.2s ease;
}

.navbutton:hover > p {
    color: #fff;
    transition: background 0.2s ease;
}

.navlink {
    display: block;
    width: 40px;
    height: 40px;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    max-height: 30vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(banner.png);
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

#coolgradient {
    height: 20%;
    background-color: transparent;
    background-image: linear-gradient(transparent, black);
}

#coolgradient2 {
    height: 100%;
    background-color: transparent;
    background-image: linear-gradient(transparent, black);
}

.logo {
    display: flex;
    padding: 1% 1%;
    justify-content: space-between;
    align-items: center;
}

.text-box {
    width: 100%;
    height: 30%;
    color: #fff;
    position: absolute;
    min-height: 3px;
    text-align: center;
}

img {
    width: 100px;
}

.subpanel > img {
    width: 100%;
}

.layer {
    background: transparent;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    transition: .5s;
}

.panel {
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}

section {
    display: block;
}

.subpanel p {
    padding: 15px 0 25px;
}

p {
    color: #c4c4c4;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.aboutpanel {
    flex-basis: 48%;
    padding: 30px 2px;
}

.aboutpanel h1 {
    padding-top: 0;
}

.bigpanel {
    width: 90%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.footer {
    width: 100%;
    text-align: center;
    padding: 30px 0;
}


#container {
    position: relative;
    width: 100%;
    height: 10vh;
    overflow: hidden;
  }
  
  #moving-button {

    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
    transition: 1s;

    position:absolute;
    top: 50%;
    left: -100px; /* Initial position outside the screen */
    transform: translate(0, -50%);
    animation: moveButton 10s ease-in-out infinite;
  }

  @keyframes moveButton {
    0%, 100% {
      left: 100px;
      opacity: 0;
    }
    50% {
      left: calc(100% - 200px);
      opacity: 0.2;
    }
}

form {
    width: 300px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
}

#auth-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Dimmed background */
}

#auth {
    width: 300px; /* Adjust width as needed */
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 5px;
    text-align: center;
}

#auth h2 {
    margin-bottom: 20px;
}

#auth input[type="text"],
#auth input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

#auth button {
    width: calc(50% - 10px);
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px;
    background-color: #5cb85c;
    color: white;
    box-sizing: border-box;
}

#auth button#loginBtn {
    background-color: #337ab7;
}

#auth button#registerBtn {
    background-color: #5cb85c;
}
  
input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.trophy-icon {
    width: 16px;
    height: auto;
    margin-left: 4px;
    vertical-align: middle; 
}

.shop-window {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #050505;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    width: 800px;
    z-index: 100;
    text-align: center;
}

.shop-tabs {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
}

.tab-button {
    padding: 10px 20px;
    border: none;
    background-color: #e13156;
    color: white;
    cursor: pointer;
}

.tab-button:focus, .tab-button.active {
    background-color: #ff3eb5;
    outline: none;
}

.tab-content {
    display: none; /* Initially hide all tab content */
}

.tab-content.active {
    display: block; /* Display active tab content */
}

.shop-item {
    display: flex;
    align-items: center;
    justify-content: center; /* Center the item horizontally */
    padding: 10px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.shop-item:last-child {
    border-bottom: none;
}

.shop-item img {
    /* Set your desired size */
    max-width: 50px; /* Set a max-width if the images are large */
    height: auto;
    margin-right: 10px; /* Add some margin to the right of the image */
}

.shop-item-details {
    flex-grow: 1;
    text-align: left; /* Align the text to the left */
    margin-right: 20px; /* Add some space between the text and the image */
}



/* Style for upgrade count */
.upgrade-count {
    font-size: 0.8em;
    color: #ccc;
}

.purchase-button {
    padding: 10px 20px;
    margin-left: 10px; /* Add margin to the left */
    /* Add any other styles you need for the button */
}

.shop-banner {
    position: relative;
    margin-bottom: 20px; /* Space below the banner */
}

.shop-banner-image {
    width: 100%; /* Full width of the shop window */
    height: auto; /* Maintain aspect ratio */
    border-radius: 5px; /* Rounded corners */
}

.shop-chest-image {
    position: absolute;
    right: 10px; /* Margin from the right side */
    bottom: -20px; /* Position at the bottom with some margin */
    width: 64px; /* Width of the chest image */
    height: auto; /* Maintain aspect ratio */
}

/* Style for the upgrade buttons */
#upgradeStonesPerClick {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.time-part {
    display: inline-block;
    min-width: 3em; /* Adjust the width as needed to hold the widest possible value */
    text-align: center;
}

.belted-timer .flaps {
    display: flex;
    justify-content: center;
}

.flaps div {
    background: #333;
    color: #fff;
    padding: 0 10px;
    margin: 0 2px;
    border-radius: 5px;
}

.menu-timer, .belted-timer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Digital-7', monospace;
    font-size: 24px;
    color: #fff;
    height: 50px;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

.timer-flaps, .flaps {
    display: flex;
    justify-content: center;
    animation: flap-animation 1s infinite;
}






.number-bounce {
    display: inline-block;
    font-size: 1em; /* Adjust as needed */
    margin: 0 0.2em;
    animation: bounceIn 0.5s ease-out, jiggle 0.2s ease-in-out 0.5s;
  }
  
  



.modal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #ccc;
    border-radius: 10px;
    background: rgb(44, 6, 24);
    padding: 20px;
    z-index: 1001;
}

.close {
    float: right;
    cursor: pointer;
}

.modal-content {
    text-align: center;
}

.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Dark background color with some transparency */
    z-index: 99;
}

.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between; /* This ensures elements are spaced out between start and end of the container */
    padding: 5px;
    min-height: 3vh;
    width: 100%; /* Full width of its container */
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    z-index: 100;
    margin-bottom: 10px;
}

.value-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Centers children vertically */
}


.value {
    margin: 0;
    font-size: 18px;
}

.label-container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* This centers the flex children vertically */
    align-items: center; /* This centers the flex children horizontally */
}

.button-container {
    display: flex;
    align-items: center;
}

.extra-container {
    display: flex;
    align-items: center;
}


.stone-count, .stones-per-click {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stone-count span,
.stones-per-click span {
    margin: 0 5px;
}

.stone-count {
    display: flex;
    align-items: center;
    font-size: 16px;
}

.separator {
    margin: 0 10px;
    color: #ccc;
}

.label {
    font-weight: bold;
    color: #e13156; /* You can change the color */
    margin-right: 5px; /* Adjust as needed for spacing */
}

.precious-stones {
    margin: 0;
    font-size: 12px;
}

.stones-container {
    /* Your existing styles */
}

/*.stones-amount {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}


.stones-per-click {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}*/

.auto-miner {
    display: flex;
    align-items: center;
    margin-left: 10px;
    position: relative;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
}

.switch input[type="checkbox"] {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 15px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input[type="checkbox"]:checked + .slider {
    background-color: #2196F3;
}

input[type="checkbox"]:checked + .slider:before {
    transform: translateX(30px);
}

.auto-miner-label {
    margin-left: 10px;
    font-size: 14px;
    color: #ff3d4d;
}

.lock-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.online {
    color: rgb(0, 255, 0); /* Change text color to green */
    font-weight: bold; /* Add bold font style */
}

.shop-item-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.shop-item-details input {
    flex-grow: 1;
    margin-right: 10px;
}


.container {
    display: flex;
    width: 100%;
    height: 90vh; /* Adjust height as needed */
}

.game-panel {
    width: 70%;
    background-color: #050505; /* Dark theme for the game panel */
    padding: 20px;
    overflow-y: auto; /* Enable scrolling */
}

.side-panel {
    width: 30%;
    background-color: #2d2d2d; /* Slightly lighter than the game panel for contrast */
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.leaderboard {
    flex: 1; /* Divide space equally between chat and leaderboard */
    margin-bottom: 20px;
    background-color: #3c3c3c; /* Even lighter for more contrast */
    color: white;
    padding: 10px;
    border-radius: 8px;
    overflow-y: auto; /* Enable scrolling */
}

.leaderboard:last-child {
    margin-bottom: 0;
}

.chat-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50%; /* Take full height of parent */
}

.chat-messages {
    flex-grow: 1;
    overflow-y: auto;
    margin-bottom: 10px;
    padding: 5px;
    background: #333; /* Dark background for the chat area */
}

.chat-form {
    display: flex;
}

.chat-form input[type="text"] {
    flex-grow: 1;
    padding: 5px;
    margin-right: 5px;
    border-radius: 4px;
    border: 1px solid #555;
}

.chat-form button {
    padding: 5px 15px;
    border-radius: 4px;
    border: none;
    background-color: #5cb85c; /* Bootstrap 'success' green */
    color: white;
}

  .notification-container {
    position: fixed;
    bottom: 0;
    left: 12.5%; /* Centered with 75% width */
    width: 75%;
    height: 100px; /* Fixed height */
    background-color: rgba(43, 3, 34, 0.8);
    color: white;
    border: 1px solid;
    border-radius: 5px 5px 5px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 -2px 10px rgba(0,0,0,0.5);
    z-index: 2000; /* High z-index to stay on top */
    visibility: hidden; /* Hidden by default */
    opacity: 0;
    transition: opacity 0s, visibility 0s 0.3s;
}

.notification-message {
    text-align: center;
}

.hidden {
    visibility: hidden;
    opacity: 0;
}

#cosmeticsShop,
#cosmeticsSelection {
    display: none;
    /* other styles */
}

#profile {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001;
    width: auto; /* Adjust width as needed */
}

.profile-menu {
    background-color: #1b0a19;
    color: #fff;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    width: 400px; /* Adjust as necessary */
}

.profile-avatar-section {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2); /* Semi-visible line */
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.profile-avatar {
    width: 80px;
    height: 80px;
    margin-right: 20px;
}

.profile-details {
    flex-grow: 1;
}

.profile-details h3 {
    color: #e13156; /* Your brand color */
    margin-bottom: 5px;
}

.user-stats p {
    font-size: 0.9em;
    padding: 0px;
    margin-bottom: 3px;
}

.stat-label {
    font-weight: bold;
}

.profile-stats {
    display: flex;
    justify-content: space-between;
}

.profile-stats p {
    font-size: 0.9em;
    padding: 0px;
    margin-bottom: 3px;
}

.stats-left, .stats-right {
    display: flex;
    flex-direction: column;
}

.profile-close-button {
    align-self: flex-end;
    margin-top: 20px;
}

.settings-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

/* Add styles for the logout button if needed */
#logoutBtn {
    margin-top: 10px;
    /* additional styles */
}